.flex-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 50px;
  
}

button {
    flex-grow: 1;
    height: fit-content;
    width: fit-content;
    border-radius: 3px;
}

.first-table td {
    text-align: center;
}

.in-progress {
    background-color: yellow;
}

.done {
    background-color: greenyellow;
}

.critical {
    background-color: rgb(244, 53, 53);
}

.not-needed {
    background-color: gray;
}
